/* CSS Reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
    color: white;
}

    
header {
    height: 40px;
    background-color: black;
}

footer {
    height: 80px;
    background-color: rgb(34,34,34);
}
    
main {
    height: calc(100vh - 120px);
    overflow-y: auto;
    background-color: black;
}


/* Utils */

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
    
    
#icon, #icon-1 {
    background-color: rgb(74,74,74);
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}
   

.container {
    max-width: 1500px;
    margin: 80px auto;
}

    
.col {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}
    
.figure img {
    min-width: 200px;
}  
    
.figure {
    position: relative;
}

.pinco {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
    padding: 5px;
    font-size: 13px;
}


/* footer */

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 100%;
}
    
   
.group {
    font-size: 20px;
    margin-bottom: 5px;
}
    

.fa-microphone {
    margin-left: 7px;
}

.fa-video {
    margin-left: 22px;
}

.fa-user-plus {
    margin-left: 5px;
}

.fa-user-group {
    margin-left: 48px;
}

.fa-chart-column {
    margin-left: 10px;
}

.fa-record-vinyl {
    margin-left: 3px;
}

.fa-table-cells-large {
    margin-left: 36px;
}

.fa-share-from-square {
 margin-left: 29px;
 color: green;
}

.fa-comment {
 margin-left: 4px;
}

.fa-record-vinyl {
    margin-left: 12px;
}

.fa-ellipsis {
    margin-left: 5px;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
}

  
.col-icons{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
   
    
.sup-1, .sup-2 {
    margin: 0 15px;
    margin-top: 15px;
}

.sup-2 {
   margin-right: 2px;
}

.word-size {
    font-size: 13px;
}

.footer-right div {
    color:red;
    font-size: 16px;
    background-color: rgb(74,74,74);
    padding: 30px;
}
    

